
* {
  font-family: Helvetica;
  font-size: 15px;
}
.container{
  display:grid;
}

.links line {
  stroke: #191414;
  stroke-width: 2.5px;
}
  
.nodes circle {
  stroke: green;
  stroke-width: 0.5px;
  transition: r 0.1s;
}

.nodes image {
  transition: x 0.05s;
  transition: y 0.05s;
  transition: height 0.05s;
  transition: width 0.05s;
}

.nodes clipPath {
  transition: 0.1s;
}

.nodeLabel {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sidebar {
  background-color: #fafafa;
  border: #666;
  border-style: solid;
  border-width: 3px;
  height: 600px;
  margin-top: 50px;
  margin-left: 10px;
  width: 250px;
  position: absolute;
  transition: margin-left 0.5s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: min-content;
  min-width: fit-content;
  background-color: yellow;
  color: #222;
  text-align: center;
  padding: 3px;
  border-radius: 6px;
  font-size: small;
  border: 1px solid black;

  position: absolute;
  z-index: 1;
  bottom: 100%;

  pointer-events: none;
}

.tooltip {
  position: relative;
  min-width: fit-content;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}

#loginButton {
  background-color: #1ed760; 
  border-radius: 200px;
  margin: 4%;
  width: 93%;
  height: 6%;
  color: white;
  font-size: larger;
  font-family: Helvetica;
  border-width: 0px;
}

#loginButton:hover {
  background-color: #1DB954;
}

#loginButton:disabled {
  background-color: #eee;
  color: lightgray;
  border-color: lightgray;
}

#artistEntry {
  width: 90%;
  margin-left: 4%;
  margin-right: auto;
}

.searchButton {
  margin-top: 0.5em;
  width: 93%;
  margin-left: 4%;
}

#searchModeSelection, #displayModeSelection {
  margin-left: 4%;
  margin-top: 4%;
  width: 100%;
}

#sidebar p {
  margin-left: 4%;
  margin-right: 4%;
  width: 90%;
  font-weight: bolder;
  font-size: 11pt;
}

#songName {
  font-weight: normal !important;
}

#loading {
  position: fixed;
  top: 0.5%;
  right: 0.5%;
  width: 60px;
  height: 60px;
  object-fit: none;
}

#degreeLabel {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cccccc;
  font-size: larger;
  font-weight: bolder;
  
}

.controls {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-left: -3px;
  top: 102%;
}

#deleteButton {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-image: url("images/trashCan.png");
  background-position: center;
  background-size: contain;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: white;
}

#mute {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-image: url("images/playing.jpg");
  background-size: contain;
  background-position: center;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: white;
  background-repeat: no-repeat;
}

#zoomIn, #zoomOut{
  height: 30px;
  width: 30px;
  margin-right: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

#moveSidebarLeft {
  position: absolute;
  top: -3px;
  left: 101%;
  height: 5%;
  font-size: larger;
  width: min-content;
}

#links {
  position: absolute;
  margin-top: -45px;
  display: flex;
  justify-content: space-between;  
}

#githubLink {  
  margin-left: -3px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-image: url("images/githubLogo.png");
  background-position: center;
  background-size: contain;
  border-width: 0px;
  background-repeat: no-repeat;
}

#aboutLink, #guideLink {
  margin-right: 5px;
  width: min-content;
  height: 30px;
}

#ib-d3-graph-div {
  height: 100vh;
}
  
#backgroundId {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
}

.degreeLabel {
  transition: font-size 0.1s;
}

#zoomWarning {
  position: absolute;
  margin-top: 40px;
  margin-left: 40%;
  font-size: x-large;
  text-align: center;
  width: 20%;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 3%;
  opacity: 0;
  transition: opacity 0.3s;
}

