
* {
  font-family: Helvetica;
  font-size: 15px;
}
.container{
    display:grid;
}

.links line {
    stroke: #191414;
    stroke-width: 4.0px;
  }
  
  .nodes circle {
    stroke: green;
    stroke-width: 0.5px;
  }

 

  #sidebar {
      background-color: #fafafa;
      border: #666;
      border-style: solid;
      border-width: 3px;
      height: 500px;
      margin-top: 50px;
      margin-left: 10px;
      width: 250px;
      position: fixed;

  }



  .tooltip .tooltiptext {
    visibility: hidden;
    width: min-content;
    min-width: fit-content;
    background-color: rgb(237, 255, 73);
    color: #222;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    font-size: small;

    position: absolute;
    z-index: 1;
    bottom: 25px;

    pointer-events: none;
  }

  .tooltip {
    position: relative;
    width: min-content;
    min-width: fit-content;
  }

  .tooltip:hover .tooltiptext{
    visibility: visible;
  }

  #loginButton {
    size: 200px;
    background-color: #1ed760; 
    border-radius: 100px;
    margin: 10px;
    width: 90%;
    height: 30px;
    color: white;
    font-size: larger;
    font-family: Helvetica;
    border-width: 0px;
  }

  #loginButton:hover {
    background-color: #1DB954;
  }

  #loginButton:disabled {
    background-color: #eee;
    color: lightgray;
    border-color: lightgray;

  }

  #artistEntry {
      margin-left: 10px;
      width: 87%;
  }

  #searchArtist {
      margin-top: 7px;
      margin-left: 10px;
      width: 90%;
  }

  #searchModeSelection {
      margin-left: 10px;
      margin-top: 10px;
  }

  #displayModeSelection {
      margin-left: 10px;
      margin-top: 20px;
  }

  #sidebar p {
    margin-left: 10px;
    margin-right: 10px;
  }

  #loading {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    object-fit: none;
  }

  #infoLabel {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: larger;
  }

  #degreeLabel {
    color: #cccccc;
    font-size: larger;
    font-weight: bolder;
  }
  
  #ib-d3-graph-div {
    height: 100vh;
  }
    
  #testSvgId {
    height: 100vh;
  }
    
  #backgroundId {
    height: 100vh;
  }
  
  .label {
    font-weight: bolder;
  }
  
  text {
    font: bold 12px monospace;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }